/* ===== WRAPPER ===== */
.carousel-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden; /* impede vazamento lateral */
}

/* ===== CONTAINER SCROLL ===== */
.carousel-container {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px;
  user-select: none; /* evita selecionar texto ao arrastar */
}

.carousel-container::-webkit-scrollbar {
  display: none;
}

/* ===== CARD ===== */
.carousel-card {
  min-width: 280px;
  height: 165px;
  flex: 0 0 auto;
  border-radius: 8px;
  cursor: pointer;
  background: #111;

  transition: transform 0.3s ease, box-shadow 0.3s ease;

  display: flex;
  flex-direction: column;
}

/* efeito ao passar mouse */
.carousel-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}

/* ===== IMAGEM ===== */
.carousel-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none; /* melhora o drag */
}

/* ===== SETAS ===== */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;

  background: rgba(0, 0, 0, 0);
  border: none;
  color: white;
  font-size: 32px;

  width: 46px;
  height: 165px;

  cursor: pointer;
  transition: opacity 0.25s ease, background 0.2s ease;

  /* escondidas por padrão */
  opacity: 0;
  pointer-events: none;
}

/* posição */
.arrow.left { left: 0; }
.arrow.right { right: 0; }

/* hover nas setas */
.arrow:hover {
  background: rgba(0, 0, 0, 0.404);
}

/* MOSTRAR setas ao passar mouse no carrossel */
.carousel-wrapper:hover .arrow {
  opacity: 1;
  pointer-events: auto;
}

/* esconder no mobile */
@media (max-width: 768px) {
  .arrow {
    display: none;
  }
}