.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 60px;
  color: white;
  z-index: 100; transition: transform 0.3s ease, background 0.3s ease, backdrop-filter 0.3s ease;
}

/* visível */
.header-visible {
  transform: translateY(0);
}

/* escondido */
.header-hidden {
  transform: translateY(-100%);
}

/* 👇 quando rolar a página */
.header-scrolled {
  background: rgba(15, 15, 15, 0.123);
  backdrop-filter: blur(12px);
}

.hero {
  position: relative;
}

.btnLogin {
  padding: 8px 18px;
  background: #53bde7;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease;
}

.btnLogin:hover {
  transition: 0.4s ease;
  background: #167ba3;
  transform: scale(1.01);

}

.nav-link {
  transition: 0.3s;
}

.active {
  color: white !important;
  font-weight: bold;
}

.inactive {
  color: rgba(255, 255, 255, 0.6) !important;
}

.p0{
  margin: 0;
  padding: 0;
  width: auto;
  height: 40px;
  object-fit: contain;
  /* background-color: yellowgreen; */
}


@media (max-width: 768px) {
  header {
    display: none !important;
  }
}