.container-fluid {
    height: 100vh;



}

.col-login {
    z-index: 2;

}

.col-image {
    width: 70%;
    height: 100vh;
    position: absolute;
    right: 0px;
    top: 0;
    background: url(/backgraund-login.jpg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

.col-bg {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 35%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;

}

.rounded{
    border-radius: 8px !important;
}