.container-fluid {
    height: 100vh;
}

.col-login {
    z-index: 2;

}

.col-image {
    width: 70%;
    height: 100vh;
    position: absolute;
    right: 0px;
    top: 0;
    background: url(/backgraund-login.jpg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

.col-bg {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 35%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;

}

.rounded {
    border-radius: 8px !important;
}

.link {
    color: #3451b1;
    text-decoration: none;
    background:
        linear-gradient(to right,
            transparent, transparent),
        linear-gradient(to right,
            #3451b1);
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    padding-bottom: 3px;
    transition: background-size 400ms;
}

.link:hover {
    background-size: 0 3px, 100% 3px;
}