.header {
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  padding: 10px 60px;
  color: white;
  z-index: 100; transition: transform 0.3s ease, background 0.3s ease, backdrop-filter 0.3s ease;
}

.tml2{
  object-fit: contain;
  height: 70px;

}

.tml{
  height: 70px;
  object-fit: cover;
}

/* visível */
.header-visible {
  transform: translateY(0);
}

/* escondido */
.header-hidden {
  transform: translateY(-100%);
}

/* 👇 quando rolar a página */
.header-scrolled {
  background: rgba(15, 15, 15, 0.123);
  backdrop-filter: blur(12px);
}

.hero {
  position: relative;
}

.btnCadastro {
  height: 45px;
  padding: 8px 18px;
  border: 2px solid #3451b1;
  background: #38b6ff;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease;
}

.btnCadastro:hover {
  border: #4567d6fd;
  transition: 0.4s ease;
  background: #4567d6fd;
  transform: scale(1.01);

}

.teste{
  display: flex;
  justify-content: right;
  width: 23%;
}

.btnLogin {
  height: 45px;
  width: 45px;          /* mesma medida */
  background: none;
  border-radius: 50%;   /* 50% é o ideal */
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease;
  border: solid 1px white;

  display: flex;               /* centraliza o ícone */
  align-items: center;
  justify-content: center;
}

.btnLogin:hover {
  transform: scale(1.03);
}

.nav-link {
  transition: 0.3s;
}

.active {
  color: white !important;
  font-weight: bold;
}

.inactive {
  color: rgba(255, 255, 255, 0.6) !important;
}

.p0{
  margin: 0;
  padding: 0;
  width: auto;
 
  object-fit: contain;
  /* background-color: yellowgreen; */
}


@media (max-width: 768px) {
  .desktop-header {
    display: none !important;           
  }
}

/* SE QUISER APAGAR ESSA NAVBAR DE BAIXO PRECISA TIRAR TODA A NAVBAR DO COMPONENT DO HEADER
E APAGAR ALGUMAS PARTES DO CSS, TANTO DO HEADER NORMAL QUANTO DA NAVBAR!!! */


/* css mobile */


@media (max-width: 768px) {
  .mobile-nav {
    display: block !important;     
    display: flex !important;      
  }
}

.mobile-nav {
  position: fixed;
  bottom: 0.5px;   /* 👈 ISSO coloca embaixo */
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  height: 94px;

  display: none;
  align-items: center;
  justify-content: space-around;
  background: rgb(31, 31, 31);
  z-index: 999;
}

.mobile-nav a {
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: 0.25s;
}


.mobile-nav a:hover {
  transform: translateY(-3px);
}

.mobile-nav a.active {
  background: rgba(255,255,255,0.2);
}

@media (max-width: 768px) {
  .mobile-nav {
    display: flex;
  }
}

