/*==============================
  Home Page Styles
================================*/

.hero {
  height: 90vh;
  background-image: url("https://image.tmdb.org/t/p/original/nBNZadXqJSdt05SHLqgT0HuC5Gm.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  background-color: rgb(128, 168, 204);
  align-items: center;
}

.overlay {
  margin-left: 60px;
  margin-top: 360px;
  color: white;
  max-width: 500px;
}

.overlay h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.overlay p {
  margin-bottom: 20px;
}

.btn0 {
  padding: 10px 20px;
  background: #7F00B2;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease;
}

.btn0:hover {
  transition: 0.4s ease;
  background: #9B00E8;
  transform: scale(1.05);

}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, rgba(0,0,0,0.8), transparent);
}

.hero {
  position: relative;
}

.overlay {
  position: relative;
}


/* ============================= */